.work-list__grid :deep(.work-tile) {
  padding: 16px;
}

.work-list__grid :deep(.work-tile__img) {
  width: 64px;
  height: 64px;
}

@media (min-width: 700px) {
  .work-list__grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
